{{ partial "header.html" . }}
<div>
	<article>
		{{- if .Params.draft }}<p id="draft">&#x26A0; Draft &#x26A0;</p>{{ end -}}
		<h1 itemprop="title" class="lh-1 mb-3">{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
		<div itemprop="subheading" class="fs-5 lh-sm pb-2 text-secondary">{{ .Description }}</div>
		<div class="pb-3">
			{{ with or .Params.author .Site.Params.author }}<a class="text-reset text-decoration-none" itemprop="author" href="/author/{{ . | urlize }}">{{ . }}</a> &#x00b7; {{ end }} <time itemprop="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}</time>
			{{- with .Params.tags }}
			<div>{{ range . }}<a class="btn btn-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}</div>
			{{ end -}}
		</div>
		<div>
		{{ .Content }}
		</div>
	</article>
	{{ partial "related.html" . }}
</div>
{{ partial "subscribe.html" . }}
</div>
{{ partial "footer.html" . }}
