{{ partial "header.html" . }}
{{- if .Params.draft }}<p id="draft">&#x26A0; Draft &#x26A0;</p>{{ end -}}
<div>
  <div class="container col-xxl-8 px-4 py-5">
  <article>
        <div class="row align-items-center g-5 py-5">
        <div class="col-lg-12">
           <h1 itemprop="title" class="display-5 fw-bold lh-1 mb-3">{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
	  <div itemprop="subheading" class="lines-dense pb-2">{{ .Description }}</div>
	  <div class="small pb-3 byline">
		  {{ with or .Params.author .Site.Params.author }}<a itemprop="author" href="/author/{{ . | urlize }}">{{ . }}</a> &#x00b7; {{ end }} <time itemprop="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}</time>
	  </div>
{{ .Content }}
      </div>
    </div>
</article>
{{ with .Params.tags }}
<div>{{ range . }}<a class="btn btn-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}</div>
{{ end }}
</div>
{{ partial "subscribe.html" . }}
</div>
{{ partial "footer.html" . }}
