{{ range . }}
<div class="mb-4">
	<h4 class="fw-normal mb-1"><a class="text-decoration-none text-reset" href="{{ .Permalink | relURL }}">{{ .Title }}</a></h4>
	<p class="mb-1">
	{{ .Description }}
	</p>
	<div class="small">
		{{ with or .Params.author .Site.Params.author }}<a class="text-reset text-decoration-none" itemprop="author" href="/author/{{ . | urlize }}">{{ . }}</a> &#x00b7; {{ end }} <time itemprop="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}</time>
		{{- with .Params.tags }}
		<div>{{ range . }}<a class="btn btn-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}</div>
		{{ end -}}
	</div>
</div>
{{ end }}
