<p>
Nick Galbreath was founder and boardmember of Science Sciences,
held roles of CTO and COO, leading to an $825M exit in 2022.
Previously, Nick lead early-stage engineering, operations,
and security groups ending with an astounding record of two
IPOs and six major aquisitions.  Nick often spoke on the
intersection of <a href="https://speakerdeck.com/ngalbreath">engineering</a> and <a href="https://www.slideshare.net/nickgsuperstar">security</a>. In addition, Nick authored many <a href="https://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&p=1&u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&r=0&f=S&l=50&TERM1=Galbreath%2C+Nicholas&FIELD1=INNM&co1=AND&TERM2=&FIELD2=&d=PTX">patents</a>,
a <a href="https://www.amazon.com/Cryptography-Internet-Database-Applications-Developing/dp/0471210293/ref=sr_1_1?crid=3BB4VEHTZR0UX&keywords=Nick+galbreath&qid=1644966507&sprefix=nick+galbreath%2Caps%2C134&sr=8-1">cryptography</a>,
and a research <a href="https://www.computer.org/csdl/proceedings-article/sc/1993/01263494/12OmNAiXjfe">paper</a> or <a href="https://www.osti.gov/biblio/268500-parallel-solution-three-dimensional-time-dependent-ginzburg-landau-equation">two</a>.
Nick has a MS in mathematics from Boston University, and BS from University of Minnesota,
with mathematical and computer sciences research at <a href="https://lanl.gov/">Los Alamos</a> and <a href="https://www.anl.gov/advanced-computing">Argonne</a> National Laboratories.
He lives in Las Vegas, with his wife and two children.
<a href="https://www.linkedin.com/in/nick-galbreath-1890794/">
    <svg xmlns="http://www.w3.org/2000/svg" width="0.90em" height="0.90em" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a>
</p>
