{{ partial "header.html" . }}
			<div class="">
				<img src="/assets/brand/icon-name-blue-black.svg" width="100%" alt="Aviso Ventures">
				<h3 class="display-5 fw-bold lh-1 mb-3">Foundering since 2013</h3>
				<p class="lead">
				Founding a company is hard.<br/>
				Building a business is hard.<br/>
				Scaling a business is hard.
				</p>
				<p class="lead">
				We know because we’ve done it.
				</p>
				<p class="lead">
				We’re obsessed with helping you grow your business faster while avoiding headaches and problems. And not forgetting to have the time of your life while doing it.
				</p>
				{{ partial "subscribe" . }}
			</div>
{{ .Content }}
<div>
	<section>
		<ul>
			{{- range .Data.Pages.ByDate.Reverse -}}
			{{- if eq .Type "post" -}}
			<li>{{ if .Params.draft }}&#x26A0; {{ end }}<a href="{{ .Permalink | relURL }}">{{ .Title }}</a></li>
			{{- end -}}
			{{- end -}}
		</ul>
	</section>
</div>
{{ partial "footer.html" . }}
