{{ partial "header.html" . }}
<div>
  <div class="text-centerx">
    <img src="/assets/brand/icon-name-blue-black.svg" alt="Aviso Ventures Logo" width="95%" class="d-inline-block align-text-top"></a>
  </div>
  <div>
    <h2 class="display-5 lh-1 mt-3 mb-2">Investing in <span class="text-nowrap">Enterprise Software<span></h1>
        <p class="lead">Specializing in early stage Cybersecurity, DevOps, Data, AI, and Vertical Specific Markets.
        </p>
        <p class="lead"><b>We know it, because we've done it.</b> <a href="https://21166818.hs-sites.com/aviso-ventures-contact">Learn more.</a>
        </p>
  </div>
</div>
{{ .Content }}

<hr>
<div>
  <a name="portfolio">
    <section>
      <h2 class="fw-light mb-3">Selected Portfolio</h2>
      <table class="table table-sm table-borderless small font-monospace">
        <thead></thead>
        {{ range (sort .Site.Data.portfolio.Investments "Name" "asc") }}
        <tr>
          <td><a class="text-reset text-decoration-none" href="{{ .Link }}">{{ .Name }}</a>
          </td>
          <td>{{ .Country }}</td>
          <td>{{ .Category }}</td>
          <td>{{ .Description}}</td>
        </tr>
        {{ end }}
      </table>
</div>
<hr>
<div>
  <a name="team"> <h2 class="fw-light mb-3">Team</h2>

    <section>
      <div class="clearfix">
        <img src="/assets/bio/nick-galbreath.jpg" width="200px" class="col-md-6 float-md-end mb-3 ms-md-3">
      <h3>Nick Galbreath</h3>
        {{ partial "bio-nickg.html" . }}
      </div>
      <div class="clearfix">
        <img src="/assets/bio/andrew-peterson.jpg" width="200px" class="col-md-6 float-md-end mb-3 ms-md-3">
      <h3>Andrew Peterson</h3>
        {{ partial "bio-andrew.html" . }}
      </div>
    </section>

</div>
{{ partial "footer.html" . }}
